@import '../../styles/vars';

.main-info {
    padding-top: 140px;

    &__all {
        max-width: 650px;
    }
    &__container {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }
    &__specific-info {
        padding: 27px 25px 35px 27px;
        background-color: $card-specific-info-color;
        border-radius: 10px;
    }
}

.people-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    // grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 25px;
    margin-bottom: 20px;
}

.main-info-right-title {
    position: relative;
    top: -6px;
    margin-bottom: 15px;
    color: #7e7e7e;
    padding-left: 27px;
}

.main-info-right-block {
    position: fixed;
    left: 50%;
    transform: translate(39%);
}

.item-enter {
    opacity: 0;
  }
  .item-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-in;
  }
  .item-exit {
    opacity: 1;
  }
  .item-exit-active {
    opacity: 0;
    transition: opacity 500ms ease-in;
  }

