@import '../../styles/vars';

.people-item {
  position: relative;
  border-radius: 10px;
  transition: .3s;
  cursor: pointer;
  padding: 25px;
  background-color: #1D1A21;
  opacity: 0.7;
  margin-bottom: 20px;

  &__name {
    color: #C5A95D;
    font-size: 1.8rem;
  }
}

.alert-enter {
  opacity: 0;
  transform: scale(0.9);
}

.alert-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 300ms, transform 300ms;
}

.alert-exit {
  opacity: 1;
}

.alert-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 300ms, transform 300ms;
}