@import '../styles/vars';

.button {
    background-color: $button-bg-color;
    text-transform: uppercase;
    font-size: $btn-font-size;
    line-height: 1.641rem;
    padding: 8px 24px;
    border-radius: 5px;
    outline: none;
    border: none;
    transition: .3s;

    &:hover {
        color: #e7e6e6;
    }

    &--card {
        display: block;
        margin: 0 auto;
        font-size: calc($btn-font-size + 4px);
        padding: 12px 28px;

        &:disabled {
            background-color: grey;
            cursor: default;

            &:hover {
                color: darkgrey;
            }
        }
    }
}