@font-face {
    font-family: 'OpenSans';
    src: url('../resources/fonts/OpenSans.woff2') format('woff2');
}

@font-face {
    font-family: 'RedFive';
    src: url('../resources/fonts/redfive.woff2') format('woff2');
}