$font-family-main: "OpenSans", sans-serif;
$font-family-header: "RedFive";
$content-width: 1085px;
$container-offset: 15px;
$container-width: $content-width + ($container-offset * 2);

// background colors
// $primary-bcg-color: #110f0f;
$primary-bcg-image: url('../resources/img/space-wallpaper.jpeg');

//button
$button-bg-color: #C5A95D;
$btn-font-size: 1.2rem;

//nav
$disabled-nav-color: #B2B3BF;
$active-nav-color: #C5A95D;
$hover-nav-color: #C5A95D;

//error message
$error-message-color: #C5A95D;
$error-message-size: 2.2rem;

//cards-people
$card-info-color: #1e1d24;
$card-name-color: #C5A95D;
$card-name-size: 2rem;
$card-specific-info-color: #1e1d24;

//specific info
$specific-info-title-size: 2rem;
$specific-info-tittle-color: #C5A95D;
$paragraph-size: 1.4rem;

//films
$film-title-size: 2rem;
$film-title-color: #C5A95D;

//@media
$big-laptop: 1200px;

//choosen item page
$choosen-item-size: 2rem;
$choosen-item-title-color: #C5A95D; 