@import '../../styles/vars';

.content-item {
  position: relative;
  border-radius: 10px;
  transition: .3s;
  cursor: pointer;
  padding: 25px;
  background-color: #1D1A21;
  opacity: 0.7;
  margin-bottom: 20px;

  &__title {
    font-size: $film-title-size;
    color: $film-title-color;
  }
}