@import '../../styles/vars';

.header {
    position: fixed;
    z-index: 4;
    width: 100%;
    padding-top: 51px;
    padding-bottom: 21px;

    &__container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

.nav {
    display: flex;
    align-items: center;

    &__item {
        font-size: 2rem;
        color: $disabled-nav-color;
        transition: .2s;
        cursor: pointer;
        &--active {
            color: $active-nav-color;
        }
    }
    &__item:hover {
        color: $hover-nav-color;
    }
    &__item:not(:last-child) {
        margin-right: 27px;
    }
}